

    <footer>
        <p class="m-0 py-3 d-flex justify-content-center">All Rights Reserve by @ <a href="javascrip:void(0)" class="nav-link">Rakesh Kidecha</a></p>
    </footer>
    

 
    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>