body{
    background-color: #2B1887;
}
p{
    margin: 0;
}
header,footer{
    background-color: #F4F2FF;
}
header .navbar-brand{
    color: #017BFF;
}
header .navbar-brand:hover{
    color: #0669d3;
}
.to-do-form{
    background-color: #D5CCFF;
    color: #2B1887;
}
.to-do-form .btn{
    background-color: #2B1887;
    border: 2px solid #2B1887;
    color: white;
    transition: all .3s linear;
}
.to-do-form .btn:hover{
    background-color:  #1a0e55;
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem #2a188752 !important;
}
.sub-to-do{ 
    background-color: #5D5FEF;
}
.to-do-item{
    background-color: white;
}
.to-do-item h4{
    color: #2B1887 !important;
    font-size: 18px;
}
.to-do-item .btn{
    font-size: 10px !important;
}
.to-do-item .procced{
    background-color: #5D5FEF;
    border: 2px solid #5D5FEF;
    transition: all .3s linear;
}
#taskForm {
    max-height: 0;
    overflow: auto;
    transition: max-height 0.5s ease-out;
}
#taskForm::-webkit-scrollbar {
    display: none; 
}
.dropdown-menu[data-bs-popper]{
    left: auto !important;
    right: 0 !important;
}
.tag{
    background-color: rgba(179, 178, 178, 0.651);
}