<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO</title>
    <style> 
        body{
            height: 100vh;
        }
    </style>
    <!-- remixicon css  -->
    <link rel="stylesheet" href="/remix/remixicon.css" type="text/css" />
    <!-- Fontawsome css  -->
     <link rel="stylesheet" href="/css/all.min.css" type="text/css" />
    <!-- main css  -->
     <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <!-- main css  -->
     <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
</head>
<body class="w-100 d-flex align-items-center justify-content-center">
    
    <section class="col-3">
        <div class="text-white text-center mb-4">
            <h3>Forget Password</h3>
            <p>Set Your New Password</p>
        </div>
        <div class="to-do-form p-3 rounded-3 my-3">
            <form method="post" action="/checkPassword">
                <label class="mb-2">New Password:-</label>
                <input type="text" name="newPassword" value="<%= oldValue ? oldValue.newPassword:'' %>" placeholder="Enter New Password" class="form-control" />
                <% if(errors&&errors.newPassword) { %>
                    <p class="text-danger"><%= errors.newPassword.msg %></p>
                <% } %>

                <label class="mb-2 my-3">Confirm Password:-</label>
                <input type="text" name="confirmPassword" value="<%= oldValue?oldValue.confirmPassword:''%>" placeholder="Enter Confirm Password" class="form-control" />
                <% if(errors&&errors.confirmPassword) { %>
                    <p class="text-danger"><%= errors.confirmPassword.msg %></p>
                <% } %>

                <div class="text-center mt-4">
                    <button type="submit" class="btn w-100">Set Password</button>
                </div>
            </form>
        </div>
    </section>

    <script src="/js/bootstrap.bundle.min.js" type="text/javascript"></script>

</body>
</html>